.navbar {
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  .navbar-nav {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  
  .nav-item {
    margin: 0 10px;
  }
  
  .nav-link {
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
  }
  
  .nav-link:hover {
    color: #1230C6;
  }
  